# Keil 编译输出目录
Objects/
Listings/
DebugConfig/
RTE/

# Keil 自动生成的文件
*.o
*.d
*.crf
*.depend
*.axf
*.hex
*.bin
*.htm
*.lnp
*.lst
*.map
*.iex
*.dep
*.build_log.htm

# Keil 个人配置（别人不需要）
*.uvguix.*
*.uvoptx
*.scvd

# 调试器日志
*.JLinkLog.txt
JLinkSettings.ini

# 备份文件
*.bak
*.Backup